.menu-container {
    position: relative;
}

.menu-container > a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu-container > a:hover {
    background-color: var(--menu-hover-color);
    color: var(--text-hover-color);
}

.menu-container a.active {
    color: var(--text-active-color);
}

.menu-container > ol {
    display: none;
    list-style-type: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 30px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: var(--menu-background-color);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.menu-container > ol.open {
    display: flex;
    opacity: 1;
}

.menu-container > ol > li {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding: 12px 24px;
}

.menu-container > ol > li a:hover {
    color: var(--text-hover-color);
}

.menu-container > ol > li a:active {
    color: var(--text-active-color);
}

.menu-container > ol > li a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    text-align: left;
    white-space: nowrap;
}

@media (max-width: 450px) {
    .menu-container {
        width: 100%;
        background: var(--menu-background-color);
    }
    .menu-container > a {
        justify-content: space-between;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }
    .menu-container > a:hover {
        background-color: unset;
    }
    .menu-container > ol {
        position: unset;
        border-radius: unset;
        top: unset;
        box-shadow: unset;
        padding: 0 0 0 20px;
    }
    .menu-container > ol > li a {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
}
